#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 10%;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

/* #navba이면서 .navbar--scroll일 때 적용 됨.*/
/* 선택자는 띄어쓰기를 하냐마냐에 따라 달라짐 */
#navbar.navbar--scroll {
  background-color: var(--bg-nav);
  padding: 24px 5%;
}

.navbar__logo {
  color: var(--color-white);
  width: 70%;
  display: flex;
  justify-content: start;
}
.navbar__logo__image {
  width: 28px;
  border-radius: 5px;
  /* vertical-align: text-bottom; */
}

.navbar__logo__title {
  /* font-size: var(--font-medium); */
  font-size: var(--font-medium);
  color: var(--color-white);
  letter-spacing: -1px;
  margin-left: 8px;
}

.navbar__menu {
  width: 30%;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__logo__title,
.navbar__menu__item {
  cursor: pointer;
}

.navbar__menu__item {
  color: var(--color-white);
  width: 25%;

  padding: 0.5em;
  opacity: 0.6;
}

.navbar__menu__item.active__item {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  opacity: 0.9;
  font-weight: var(--weight-bold);
}

.navbar__menu__item:hover {
  /* background-color: rgb(32, 32, 40); */
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  opacity: 0.9;
  font-weight: var(--weight-bold);
}

/* navbar아이템 액티브인 애한테 자바스크립트로 active 클래스 줄 예정. */
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
