#bg div {
  position: fixed;
  z-index: -10;
}
#stars {
  z-index: -100;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 646px 1018px #fff, 1207px 474px #fff, 1258px 1806px #fff,
    204px 886px #fff, 1224px 1413px #fff, 1978px 378px #fff, 1596px 821px #fff,
    1930px 536px #fff, 1595px 1374px #fff, 1607px 1451px #fff, 1880px 910px #fff,
    16px 453px #fff, 1634px 1181px #fff, 1246px 404px #fff, 1303px 116px #fff,
    935px 448px #fff, 1984px 1508px #fff, 795px 996px #fff, 1741px 1866px #fff,
    1971px 1987px #fff, 1891px 505px #fff, 1573px 1014px #fff, 103px 779px #fff,
    283px 589px #fff, 1162px 611px #fff, 513px 526px #fff, 710px 926px #fff,
    1648px 1002px #fff, 1344px 1603px #fff, 1265px 1200px #fff, 779px 721px #fff,
    435px 953px #fff, 1668px 1398px #fff, 1022px 43px #fff, 368px 702px #fff,
    1355px 441px #fff, 1813px 871px #fff, 1471px 875px #fff, 360px 1025px #fff,
    1229px 1568px #fff, 1703px 336px #fff, 94px 654px #fff, 962px 1895px #fff,
    710px 1904px #fff, 1055px 362px #fff, 1016px 1615px #fff, 569px 1713px #fff,
    1149px 1057px #fff, 1501px 1156px #fff, 308px 756px #fff, 1062px 992px #fff,
    1274px 300px #fff, 1866px 1297px #fff, 1769px 99px #fff, 793px 1129px #fff,
    1786px 1221px #fff, 604px 1050px #fff, 1631px 1593px #fff,
    1092px 1350px #fff, 93px 1855px #fff, 922px 1964px #fff, 58px 292px #fff,
    1311px 202px #fff, 670px 700px #fff, 362px 1436px #fff, 1822px 44px #fff,
    1250px 1547px #fff, 1543px 1011px #fff, 1930px 963px #fff, 39px 260px #fff,
    246px 929px #fff, 331px 316px #fff, 881px 420px #fff, 1743px 1944px #fff,
    1100px 1060px #fff, 680px 1527px #fff, 833px 927px #fff, 1363px 28px #fff,
    812px 703px #fff, 1252px 836px #fff, 1190px 1153px #fff, 1245px 1332px #fff,
    1970px 1797px #fff, 344px 907px #fff, 641px 225px #fff, 611px 1397px #fff,
    1547px 856px #fff, 236px 899px #fff, 882px 1416px #fff, 667px 1056px #fff,
    1103px 1902px #fff, 1883px 119px #fff, 345px 649px #fff, 1054px 801px #fff,
    907px 399px #fff, 1982px 416px #fff, 919px 1009px #fff, 1609px 1412px #fff,
    629px 526px #fff, 379px 1739px #fff, 1380px 723px #fff, 115px 1604px #fff,
    1175px 586px #fff, 288px 1093px #fff, 937px 286px #fff, 1470px 137px #fff,
    1379px 977px #fff, 811px 240px #fff, 3px 1912px #fff, 1653px 1536px #fff,
    1543px 213px #fff, 1665px 1180px #fff, 444px 1943px #fff, 1626px 302px #fff,
    1714px 1711px #fff, 177px 1189px #fff, 721px 1993px #fff, 1384px 1892px #fff,
    1092px 1917px #fff, 2px 1463px #fff, 3px 1520px #fff, 1900px 1015px #fff,
    1961px 909px #fff, 365px 1031px #fff, 1904px 347px #fff, 751px 1083px #fff,
    1342px 1866px #fff, 9px 1321px #fff, 1210px 122px #fff, 1573px 809px #fff,
    1038px 1826px #fff, 1486px 1143px #fff, 1824px 1386px #fff,
    1350px 1243px #fff, 178px 884px #fff, 1719px 1372px #fff, 9px 313px #fff,
    198px 238px #fff, 305px 1997px #fff, 1674px 272px #fff, 824px 471px #fff,
    969px 422px #fff, 1110px 175px #fff, 660px 531px #fff, 484px 940px #fff,
    1132px 366px #fff, 637px 1907px #fff, 532px 684px #fff, 1842px 1206px #fff,
    153px 1370px #fff, 480px 1589px #fff, 720px 1396px #fff, 676px 775px #fff,
    1587px 885px #fff, 1012px 339px #fff, 1875px 1265px #fff, 1174px 1190px #fff,
    1867px 601px #fff, 94px 487px #fff, 1603px 1152px #fff, 462px 1904px #fff,
    55px 1569px #fff, 571px 634px #fff, 1809px 1205px #fff, 747px 729px #fff,
    1749px 1809px #fff, 1992px 465px #fff, 1459px 1921px #fff, 1011px 240px #fff,
    1488px 1843px #fff, 364px 1974px #fff, 1406px 1569px #fff,
    1852px 1673px #fff, 1525px 482px #fff, 765px 931px #fff, 1447px 32px #fff,
    862px 815px #fff, 276px 756px #fff, 1021px 701px #fff, 781px 1285px #fff,
    1663px 525px #fff, 14px 1704px #fff, 1416px 124px #fff, 481px 1627px #fff,
    1693px 312px #fff, 916px 1727px #fff, 141px 231px #fff, 576px 238px #fff,
    1356px 1192px #fff, 1784px 1676px #fff, 827px 998px #fff, 1550px 1613px #fff,
    474px 1186px #fff, 343px 611px #fff, 1698px 536px #fff, 1718px 707px #fff,
    796px 1528px #fff, 1583px 122px #fff, 1638px 1217px #fff, 1484px 1045px #fff,
    1483px 1288px #fff, 1602px 891px #fff, 1334px 220px #fff, 1833px 971px #fff,
    556px 1280px #fff, 198px 582px #fff, 1977px 1385px #fff, 69px 520px #fff,
    480px 823px #fff, 1560px 1675px #fff, 1801px 628px #fff, 839px 112px #fff,
    775px 616px #fff, 70px 1943px #fff, 396px 1920px #fff, 552px 1616px #fff,
    1424px 1448px #fff, 1846px 1242px #fff, 78px 670px #fff, 1195px 1566px #fff,
    1691px 348px #fff, 131px 1530px #fff, 884px 283px #fff, 737px 1936px #fff,
    1988px 578px #fff, 1751px 186px #fff, 340px 328px #fff, 655px 607px #fff,
    1946px 1194px #fff, 781px 138px #fff, 877px 1098px #fff, 1498px 1531px #fff,
    1122px 1382px #fff, 1511px 878px #fff, 201px 73px #fff, 628px 1652px #fff,
    139px 641px #fff, 1258px 1550px #fff, 325px 441px #fff, 992px 1406px #fff,
    1883px 11px #fff, 707px 1427px #fff, 1996px 156px #fff, 220px 1123px #fff,
    1956px 715px #fff, 1213px 535px #fff, 1394px 274px #fff, 379px 1379px #fff,
    529px 1904px #fff, 602px 1877px #fff, 519px 781px #fff, 695px 819px #fff,
    630px 1583px #fff, 1762px 455px #fff, 79px 1116px #fff, 329px 1152px #fff,
    940px 243px #fff, 1499px 260px #fff, 1455px 921px #fff, 887px 18px #fff,
    1277px 1564px #fff, 440px 363px #fff, 1646px 1455px #fff, 1465px 1467px #fff,
    470px 991px #fff, 1490px 85px #fff, 921px 989px #fff, 1998px 1557px #fff,
    1487px 1052px #fff, 1458px 1387px #fff, 1957px 329px #fff,
    1843px 1845px #fff, 1860px 145px #fff, 1557px 1805px #fff,
    1318px 1729px #fff, 1589px 1812px #fff, 347px 451px #fff, 1811px 199px #fff,
    653px 19px #fff, 512px 1343px #fff, 941px 1902px #fff, 425px 929px #fff,
    366px 1769px #fff, 1977px 128px #fff, 1129px 1676px #fff, 1101px 1234px #fff,
    67px 1550px #fff, 1152px 1158px #fff, 1708px 1556px #fff, 558px 1965px #fff,
    188px 1833px #fff, 1723px 718px #fff, 1706px 1459px #fff, 95px 1011px #fff,
    163px 908px #fff, 71px 1088px #fff, 958px 676px #fff, 982px 31px #fff,
    1099px 1526px #fff, 655px 467px #fff, 639px 235px #fff, 499px 857px #fff,
    354px 405px #fff, 1067px 351px #fff, 424px 569px #fff, 1528px 15px #fff,
    474px 1673px #fff, 443px 122px #fff, 1975px 634px #fff, 1407px 296px #fff,
    1789px 769px #fff, 420px 1960px #fff, 1015px 1268px #fff, 1350px 1404px #fff,
    1280px 1847px #fff, 1824px 678px #fff, 213px 938px #fff, 1281px 1129px #fff,
    756px 535px #fff, 1786px 169px #fff, 242px 715px #fff, 467px 413px #fff,
    612px 1096px #fff, 405px 1462px #fff, 1395px 1207px #fff, 1480px 1509px #fff,
    1317px 1460px #fff, 282px 1034px #fff, 1265px 1535px #fff, 1193px 244px #fff,
    1523px 1281px #fff, 854px 1105px #fff, 696px 650px #fff, 403px 426px #fff,
    1591px 1736px #fff, 796px 1529px #fff, 334px 61px #fff, 66px 437px #fff,
    989px 929px #fff, 141px 63px #fff, 1964px 18px #fff, 1442px 695px #fff,
    275px 1726px #fff, 1081px 287px #fff, 1138px 1680px #fff, 1458px 1044px #fff,
    805px 1501px #fff, 221px 1842px #fff, 1457px 1424px #fff, 134px 892px #fff,
    485px 955px #fff, 1011px 1823px #fff, 709px 610px #fff, 804px 165px #fff,
    1143px 661px #fff, 1099px 1976px #fff, 1040px 1478px #fff, 740px 699px #fff,
    1038px 345px #fff, 1926px 1049px #fff, 625px 1740px #fff, 336px 981px #fff,
    1353px 1516px #fff, 215px 1181px #fff, 617px 1717px #fff, 399px 1079px #fff,
    1538px 1713px #fff, 1823px 1119px #fff, 1009px 852px #fff, 995px 1177px #fff,
    466px 721px #fff, 120px 550px #fff, 331px 1662px #fff, 714px 306px #fff,
    363px 86px #fff, 459px 1569px #fff, 1338px 1511px #fff, 1613px 322px #fff,
    444px 708px #fff, 1041px 1592px #fff, 1969px 46px #fff, 1249px 1029px #fff,
    1896px 834px #fff, 1721px 1553px #fff, 1470px 1823px #fff, 1686px 485px #fff,
    1300px 1959px #fff, 1289px 85px #fff, 1924px 142px #fff, 1255px 614px #fff,
    556px 1196px #fff, 1928px 68px #fff, 1757px 1297px #fff, 46px 427px #fff,
    208px 385px #fff, 142px 583px #fff, 387px 1360px #fff, 924px 626px #fff,
    1545px 723px #fff, 911px 704px #fff, 1262px 705px #fff, 1412px 966px #fff,
    1102px 265px #fff, 102px 725px #fff, 640px 63px #fff, 638px 1883px #fff,
    639px 809px #fff, 653px 1682px #fff, 387px 883px #fff, 1645px 1591px #fff,
    142px 1971px #fff, 1030px 1578px #fff, 1623px 311px #fff, 1192px 1596px #fff,
    388px 1408px #fff, 372px 103px #fff, 658px 287px #fff, 546px 1191px #fff,
    1085px 920px #fff, 1748px 869px #fff, 587px 943px #fff, 1666px 1593px #fff,
    672px 943px #fff, 391px 1977px #fff, 523px 555px #fff, 1163px 287px #fff,
    998px 766px #fff, 917px 238px #fff, 1566px 64px #fff, 1659px 1499px #fff,
    1311px 81px #fff, 1621px 1375px #fff, 111px 989px #fff, 815px 1666px #fff,
    859px 1630px #fff, 606px 298px #fff, 818px 1446px #fff, 1701px 584px #fff,
    985px 1049px #fff, 467px 1515px #fff, 261px 1518px #fff, 1411px 1185px #fff,
    874px 917px #fff, 1116px 784px #fff, 1382px 194px #fff, 15px 436px #fff,
    1091px 1769px #fff, 261px 605px #fff, 554px 797px #fff, 790px 1316px #fff,
    36px 708px #fff, 1421px 1367px #fff, 1297px 1094px #fff, 1829px 484px #fff,
    196px 194px #fff, 623px 1199px #fff, 741px 480px #fff, 1087px 1005px #fff,
    174px 1320px #fff, 1575px 1449px #fff, 1997px 1357px #fff, 1289px 506px #fff,
    1758px 1742px #fff, 1695px 1990px #fff, 1407px 420px #fff, 956px 416px #fff,
    1627px 335px #fff, 204px 415px #fff, 96px 1395px #fff, 615px 227px #fff,
    1414px 493px #fff, 416px 884px #fff, 313px 507px #fff, 129px 505px #fff,
    484px 1199px #fff, 1394px 249px #fff, 1329px 28px #fff, 896px 1391px #fff,
    244px 1581px #fff, 802px 1314px #fff, 1357px 1317px #fff, 1371px 1974px #fff,
    1627px 22px #fff, 1146px 1211px #fff, 26px 843px #fff, 1604px 1434px #fff,
    1322px 1784px #fff, 702px 656px #fff, 1648px 1212px #fff, 1440px 39px #fff,
    1937px 28px #fff, 987px 1917px #fff, 443px 98px #fff, 369px 1901px #fff,
    1799px 148px #fff, 1832px 696px #fff, 1087px 80px #fff, 1202px 1545px #fff,
    1856px 1532px #fff, 1688px 611px #fff, 388px 237px #fff, 322px 1979px #fff,
    343px 873px #fff, 1168px 1575px #fff, 864px 1189px #fff, 809px 1700px #fff,
    344px 1183px #fff, 906px 824px #fff, 966px 1844px #fff, 1490px 5px #fff,
    793px 1050px #fff, 327px 76px #fff, 1615px 1424px #fff, 93px 1370px #fff,
    1978px 143px #fff, 1430px 1000px #fff, 1908px 503px #fff, 1885px 1196px #fff,
    405px 1237px #fff, 56px 327px #fff, 1367px 299px #fff, 831px 916px #fff,
    20px 315px #fff, 252px 1437px #fff, 1589px 898px #fff, 1743px 148px #fff,
    1968px 1451px #fff, 1055px 135px #fff, 603px 800px #fff, 479px 1660px #fff,
    1735px 1179px #fff, 950px 589px #fff, 1676px 975px #fff, 1430px 1384px #fff,
    1068px 1833px #fff, 910px 151px #fff, 1834px 334px #fff, 1734px 876px #fff,
    1869px 852px #fff, 848px 1533px #fff, 380px 945px #fff, 1304px 30px #fff,
    1062px 860px #fff, 795px 424px #fff, 1615px 796px #fff, 642px 457px #fff,
    1415px 1126px #fff, 41px 581px #fff, 200px 48px #fff, 197px 546px #fff,
    525px 529px #fff, 1616px 1305px #fff, 262px 22px #fff, 192px 1256px #fff,
    191px 1903px #fff, 295px 1845px #fff, 1869px 376px #fff, 1644px 1506px #fff,
    627px 1917px #fff, 926px 297px #fff, 558px 1680px #fff, 1688px 950px #fff,
    1977px 1907px #fff, 358px 1795px #fff, 517px 1359px #fff, 1146px 1821px #fff,
    1224px 1616px #fff, 1144px 318px #fff, 1260px 1083px #fff, 1036px 391px #fff,
    796px 453px #fff, 978px 324px #fff, 285px 487px #fff, 1902px 1224px #fff,
    38px 1798px #fff, 679px 74px #fff, 1308px 1156px #fff, 126px 522px #fff,
    980px 1243px #fff, 234px 152px #fff, 1320px 1245px #fff, 23px 1128px #fff,
    417px 767px #fff, 533px 904px #fff, 898px 209px #fff, 1785px 584px #fff,
    1920px 1428px #fff, 1399px 1020px #fff, 1215px 1069px #fff,
    1213px 1376px #fff, 666px 1259px #fff, 667px 71px #fff, 635px 1989px #fff,
    1292px 298px #fff, 979px 146px #fff, 481px 50px #fff, 1736px 1102px #fff,
    1592px 323px #fff, 1421px 451px #fff, 1842px 1039px #fff, 946px 897px #fff,
    926px 676px #fff, 1746px 1624px #fff, 1834px 126px #fff, 77px 1106px #fff,
    387px 1900px #fff, 1593px 1578px #fff, 1513px 596px #fff, 147px 170px #fff,
    1379px 1249px #fff, 322px 825px #fff, 796px 135px #fff, 718px 803px #fff,
    1200px 1470px #fff, 1734px 307px #fff, 1007px 487px #fff, 22px 765px #fff,
    749px 1808px #fff, 977px 520px #fff, 1193px 1625px #fff, 492px 1604px #fff,
    305px 197px #fff, 1862px 1683px #fff, 1541px 530px #fff, 1275px 1494px #fff,
    1763px 82px #fff, 333px 1563px #fff, 799px 592px #fff, 1794px 248px #fff,
    1025px 1444px #fff, 1642px 46px #fff, 1878px 1910px #fff, 432px 1353px #fff,
    1105px 1795px #fff, 1486px 1717px #fff, 878px 1668px #fff, 408px 9px #fff,
    167px 1892px #fff, 276px 1402px #fff, 1541px 1233px #fff, 556px 691px #fff,
    787px 1731px #fff, 1222px 81px #fff, 584px 1271px #fff, 686px 1653px #fff,
    1964px 21px #fff, 1485px 189px #fff, 977px 1544px #fff, 1728px 541px #fff,
    1247px 739px #fff, 1098px 985px #fff, 1153px 152px #fff, 145px 1275px #fff,
    459px 1812px #fff, 259px 397px #fff, 471px 1501px #fff, 796px 326px #fff,
    511px 1837px #fff, 608px 1972px #fff, 1437px 93px #fff, 538px 1518px #fff,
    1689px 1296px #fff, 1098px 1546px #fff, 7px 1517px #fff, 1942px 1580px #fff,
    217px 684px #fff, 1965px 1140px #fff, 552px 567px #fff, 1277px 1304px #fff,
    1193px 1783px #fff, 39px 136px #fff, 1297px 1673px #fff, 1601px 766px #fff,
    712px 963px #fff, 221px 1251px #fff, 183px 1818px #fff, 291px 897px #fff,
    72px 593px #fff, 1930px 1989px #fff, 611px 986px #fff, 1277px 1307px #fff,
    1125px 788px #fff, 973px 207px #fff, 867px 1127px #fff, 828px 722px #fff,
    1823px 55px #fff, 560px 591px #fff, 456px 761px #fff, 936px 58px #fff,
    1487px 1718px #fff, 1173px 1301px #fff, 1959px 580px #fff, 858px 424px #fff,
    600px 1662px #fff, 1668px 1203px #fff, 1882px 1176px #fff, 298px 379px #fff,
    1995px 1095px #fff, 821px 1728px #fff, 247px 208px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  z-index: -100;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 646px 1018px #fff, 1207px 474px #fff, 1258px 1806px #fff,
    204px 886px #fff, 1224px 1413px #fff, 1978px 378px #fff, 1596px 821px #fff,
    1930px 536px #fff, 1595px 1374px #fff, 1607px 1451px #fff, 1880px 910px #fff,
    16px 453px #fff, 1634px 1181px #fff, 1246px 404px #fff, 1303px 116px #fff,
    935px 448px #fff, 1984px 1508px #fff, 795px 996px #fff, 1741px 1866px #fff,
    1971px 1987px #fff, 1891px 505px #fff, 1573px 1014px #fff, 103px 779px #fff,
    283px 589px #fff, 1162px 611px #fff, 513px 526px #fff, 710px 926px #fff,
    1648px 1002px #fff, 1344px 1603px #fff, 1265px 1200px #fff, 779px 721px #fff,
    435px 953px #fff, 1668px 1398px #fff, 1022px 43px #fff, 368px 702px #fff,
    1355px 441px #fff, 1813px 871px #fff, 1471px 875px #fff, 360px 1025px #fff,
    1229px 1568px #fff, 1703px 336px #fff, 94px 654px #fff, 962px 1895px #fff,
    710px 1904px #fff, 1055px 362px #fff, 1016px 1615px #fff, 569px 1713px #fff,
    1149px 1057px #fff, 1501px 1156px #fff, 308px 756px #fff, 1062px 992px #fff,
    1274px 300px #fff, 1866px 1297px #fff, 1769px 99px #fff, 793px 1129px #fff,
    1786px 1221px #fff, 604px 1050px #fff, 1631px 1593px #fff,
    1092px 1350px #fff, 93px 1855px #fff, 922px 1964px #fff, 58px 292px #fff,
    1311px 202px #fff, 670px 700px #fff, 362px 1436px #fff, 1822px 44px #fff,
    1250px 1547px #fff, 1543px 1011px #fff, 1930px 963px #fff, 39px 260px #fff,
    246px 929px #fff, 331px 316px #fff, 881px 420px #fff, 1743px 1944px #fff,
    1100px 1060px #fff, 680px 1527px #fff, 833px 927px #fff, 1363px 28px #fff,
    812px 703px #fff, 1252px 836px #fff, 1190px 1153px #fff, 1245px 1332px #fff,
    1970px 1797px #fff, 344px 907px #fff, 641px 225px #fff, 611px 1397px #fff,
    1547px 856px #fff, 236px 899px #fff, 882px 1416px #fff, 667px 1056px #fff,
    1103px 1902px #fff, 1883px 119px #fff, 345px 649px #fff, 1054px 801px #fff,
    907px 399px #fff, 1982px 416px #fff, 919px 1009px #fff, 1609px 1412px #fff,
    629px 526px #fff, 379px 1739px #fff, 1380px 723px #fff, 115px 1604px #fff,
    1175px 586px #fff, 288px 1093px #fff, 937px 286px #fff, 1470px 137px #fff,
    1379px 977px #fff, 811px 240px #fff, 3px 1912px #fff, 1653px 1536px #fff,
    1543px 213px #fff, 1665px 1180px #fff, 444px 1943px #fff, 1626px 302px #fff,
    1714px 1711px #fff, 177px 1189px #fff, 721px 1993px #fff, 1384px 1892px #fff,
    1092px 1917px #fff, 2px 1463px #fff, 3px 1520px #fff, 1900px 1015px #fff,
    1961px 909px #fff, 365px 1031px #fff, 1904px 347px #fff, 751px 1083px #fff,
    1342px 1866px #fff, 9px 1321px #fff, 1210px 122px #fff, 1573px 809px #fff,
    1038px 1826px #fff, 1486px 1143px #fff, 1824px 1386px #fff,
    1350px 1243px #fff, 178px 884px #fff, 1719px 1372px #fff, 9px 313px #fff,
    198px 238px #fff, 305px 1997px #fff, 1674px 272px #fff, 824px 471px #fff,
    969px 422px #fff, 1110px 175px #fff, 660px 531px #fff, 484px 940px #fff,
    1132px 366px #fff, 637px 1907px #fff, 532px 684px #fff, 1842px 1206px #fff,
    153px 1370px #fff, 480px 1589px #fff, 720px 1396px #fff, 676px 775px #fff,
    1587px 885px #fff, 1012px 339px #fff, 1875px 1265px #fff, 1174px 1190px #fff,
    1867px 601px #fff, 94px 487px #fff, 1603px 1152px #fff, 462px 1904px #fff,
    55px 1569px #fff, 571px 634px #fff, 1809px 1205px #fff, 747px 729px #fff,
    1749px 1809px #fff, 1992px 465px #fff, 1459px 1921px #fff, 1011px 240px #fff,
    1488px 1843px #fff, 364px 1974px #fff, 1406px 1569px #fff,
    1852px 1673px #fff, 1525px 482px #fff, 765px 931px #fff, 1447px 32px #fff,
    862px 815px #fff, 276px 756px #fff, 1021px 701px #fff, 781px 1285px #fff,
    1663px 525px #fff, 14px 1704px #fff, 1416px 124px #fff, 481px 1627px #fff,
    1693px 312px #fff, 916px 1727px #fff, 141px 231px #fff, 576px 238px #fff,
    1356px 1192px #fff, 1784px 1676px #fff, 827px 998px #fff, 1550px 1613px #fff,
    474px 1186px #fff, 343px 611px #fff, 1698px 536px #fff, 1718px 707px #fff,
    796px 1528px #fff, 1583px 122px #fff, 1638px 1217px #fff, 1484px 1045px #fff,
    1483px 1288px #fff, 1602px 891px #fff, 1334px 220px #fff, 1833px 971px #fff,
    556px 1280px #fff, 198px 582px #fff, 1977px 1385px #fff, 69px 520px #fff,
    480px 823px #fff, 1560px 1675px #fff, 1801px 628px #fff, 839px 112px #fff,
    775px 616px #fff, 70px 1943px #fff, 396px 1920px #fff, 552px 1616px #fff,
    1424px 1448px #fff, 1846px 1242px #fff, 78px 670px #fff, 1195px 1566px #fff,
    1691px 348px #fff, 131px 1530px #fff, 884px 283px #fff, 737px 1936px #fff,
    1988px 578px #fff, 1751px 186px #fff, 340px 328px #fff, 655px 607px #fff,
    1946px 1194px #fff, 781px 138px #fff, 877px 1098px #fff, 1498px 1531px #fff,
    1122px 1382px #fff, 1511px 878px #fff, 201px 73px #fff, 628px 1652px #fff,
    139px 641px #fff, 1258px 1550px #fff, 325px 441px #fff, 992px 1406px #fff,
    1883px 11px #fff, 707px 1427px #fff, 1996px 156px #fff, 220px 1123px #fff,
    1956px 715px #fff, 1213px 535px #fff, 1394px 274px #fff, 379px 1379px #fff,
    529px 1904px #fff, 602px 1877px #fff, 519px 781px #fff, 695px 819px #fff,
    630px 1583px #fff, 1762px 455px #fff, 79px 1116px #fff, 329px 1152px #fff,
    940px 243px #fff, 1499px 260px #fff, 1455px 921px #fff, 887px 18px #fff,
    1277px 1564px #fff, 440px 363px #fff, 1646px 1455px #fff, 1465px 1467px #fff,
    470px 991px #fff, 1490px 85px #fff, 921px 989px #fff, 1998px 1557px #fff,
    1487px 1052px #fff, 1458px 1387px #fff, 1957px 329px #fff,
    1843px 1845px #fff, 1860px 145px #fff, 1557px 1805px #fff,
    1318px 1729px #fff, 1589px 1812px #fff, 347px 451px #fff, 1811px 199px #fff,
    653px 19px #fff, 512px 1343px #fff, 941px 1902px #fff, 425px 929px #fff,
    366px 1769px #fff, 1977px 128px #fff, 1129px 1676px #fff, 1101px 1234px #fff,
    67px 1550px #fff, 1152px 1158px #fff, 1708px 1556px #fff, 558px 1965px #fff,
    188px 1833px #fff, 1723px 718px #fff, 1706px 1459px #fff, 95px 1011px #fff,
    163px 908px #fff, 71px 1088px #fff, 958px 676px #fff, 982px 31px #fff,
    1099px 1526px #fff, 655px 467px #fff, 639px 235px #fff, 499px 857px #fff,
    354px 405px #fff, 1067px 351px #fff, 424px 569px #fff, 1528px 15px #fff,
    474px 1673px #fff, 443px 122px #fff, 1975px 634px #fff, 1407px 296px #fff,
    1789px 769px #fff, 420px 1960px #fff, 1015px 1268px #fff, 1350px 1404px #fff,
    1280px 1847px #fff, 1824px 678px #fff, 213px 938px #fff, 1281px 1129px #fff,
    756px 535px #fff, 1786px 169px #fff, 242px 715px #fff, 467px 413px #fff,
    612px 1096px #fff, 405px 1462px #fff, 1395px 1207px #fff, 1480px 1509px #fff,
    1317px 1460px #fff, 282px 1034px #fff, 1265px 1535px #fff, 1193px 244px #fff,
    1523px 1281px #fff, 854px 1105px #fff, 696px 650px #fff, 403px 426px #fff,
    1591px 1736px #fff, 796px 1529px #fff, 334px 61px #fff, 66px 437px #fff,
    989px 929px #fff, 141px 63px #fff, 1964px 18px #fff, 1442px 695px #fff,
    275px 1726px #fff, 1081px 287px #fff, 1138px 1680px #fff, 1458px 1044px #fff,
    805px 1501px #fff, 221px 1842px #fff, 1457px 1424px #fff, 134px 892px #fff,
    485px 955px #fff, 1011px 1823px #fff, 709px 610px #fff, 804px 165px #fff,
    1143px 661px #fff, 1099px 1976px #fff, 1040px 1478px #fff, 740px 699px #fff,
    1038px 345px #fff, 1926px 1049px #fff, 625px 1740px #fff, 336px 981px #fff,
    1353px 1516px #fff, 215px 1181px #fff, 617px 1717px #fff, 399px 1079px #fff,
    1538px 1713px #fff, 1823px 1119px #fff, 1009px 852px #fff, 995px 1177px #fff,
    466px 721px #fff, 120px 550px #fff, 331px 1662px #fff, 714px 306px #fff,
    363px 86px #fff, 459px 1569px #fff, 1338px 1511px #fff, 1613px 322px #fff,
    444px 708px #fff, 1041px 1592px #fff, 1969px 46px #fff, 1249px 1029px #fff,
    1896px 834px #fff, 1721px 1553px #fff, 1470px 1823px #fff, 1686px 485px #fff,
    1300px 1959px #fff, 1289px 85px #fff, 1924px 142px #fff, 1255px 614px #fff,
    556px 1196px #fff, 1928px 68px #fff, 1757px 1297px #fff, 46px 427px #fff,
    208px 385px #fff, 142px 583px #fff, 387px 1360px #fff, 924px 626px #fff,
    1545px 723px #fff, 911px 704px #fff, 1262px 705px #fff, 1412px 966px #fff,
    1102px 265px #fff, 102px 725px #fff, 640px 63px #fff, 638px 1883px #fff,
    639px 809px #fff, 653px 1682px #fff, 387px 883px #fff, 1645px 1591px #fff,
    142px 1971px #fff, 1030px 1578px #fff, 1623px 311px #fff, 1192px 1596px #fff,
    388px 1408px #fff, 372px 103px #fff, 658px 287px #fff, 546px 1191px #fff,
    1085px 920px #fff, 1748px 869px #fff, 587px 943px #fff, 1666px 1593px #fff,
    672px 943px #fff, 391px 1977px #fff, 523px 555px #fff, 1163px 287px #fff,
    998px 766px #fff, 917px 238px #fff, 1566px 64px #fff, 1659px 1499px #fff,
    1311px 81px #fff, 1621px 1375px #fff, 111px 989px #fff, 815px 1666px #fff,
    859px 1630px #fff, 606px 298px #fff, 818px 1446px #fff, 1701px 584px #fff,
    985px 1049px #fff, 467px 1515px #fff, 261px 1518px #fff, 1411px 1185px #fff,
    874px 917px #fff, 1116px 784px #fff, 1382px 194px #fff, 15px 436px #fff,
    1091px 1769px #fff, 261px 605px #fff, 554px 797px #fff, 790px 1316px #fff,
    36px 708px #fff, 1421px 1367px #fff, 1297px 1094px #fff, 1829px 484px #fff,
    196px 194px #fff, 623px 1199px #fff, 741px 480px #fff, 1087px 1005px #fff,
    174px 1320px #fff, 1575px 1449px #fff, 1997px 1357px #fff, 1289px 506px #fff,
    1758px 1742px #fff, 1695px 1990px #fff, 1407px 420px #fff, 956px 416px #fff,
    1627px 335px #fff, 204px 415px #fff, 96px 1395px #fff, 615px 227px #fff,
    1414px 493px #fff, 416px 884px #fff, 313px 507px #fff, 129px 505px #fff,
    484px 1199px #fff, 1394px 249px #fff, 1329px 28px #fff, 896px 1391px #fff,
    244px 1581px #fff, 802px 1314px #fff, 1357px 1317px #fff, 1371px 1974px #fff,
    1627px 22px #fff, 1146px 1211px #fff, 26px 843px #fff, 1604px 1434px #fff,
    1322px 1784px #fff, 702px 656px #fff, 1648px 1212px #fff, 1440px 39px #fff,
    1937px 28px #fff, 987px 1917px #fff, 443px 98px #fff, 369px 1901px #fff,
    1799px 148px #fff, 1832px 696px #fff, 1087px 80px #fff, 1202px 1545px #fff,
    1856px 1532px #fff, 1688px 611px #fff, 388px 237px #fff, 322px 1979px #fff,
    343px 873px #fff, 1168px 1575px #fff, 864px 1189px #fff, 809px 1700px #fff,
    344px 1183px #fff, 906px 824px #fff, 966px 1844px #fff, 1490px 5px #fff,
    793px 1050px #fff, 327px 76px #fff, 1615px 1424px #fff, 93px 1370px #fff,
    1978px 143px #fff, 1430px 1000px #fff, 1908px 503px #fff, 1885px 1196px #fff,
    405px 1237px #fff, 56px 327px #fff, 1367px 299px #fff, 831px 916px #fff,
    20px 315px #fff, 252px 1437px #fff, 1589px 898px #fff, 1743px 148px #fff,
    1968px 1451px #fff, 1055px 135px #fff, 603px 800px #fff, 479px 1660px #fff,
    1735px 1179px #fff, 950px 589px #fff, 1676px 975px #fff, 1430px 1384px #fff,
    1068px 1833px #fff, 910px 151px #fff, 1834px 334px #fff, 1734px 876px #fff,
    1869px 852px #fff, 848px 1533px #fff, 380px 945px #fff, 1304px 30px #fff,
    1062px 860px #fff, 795px 424px #fff, 1615px 796px #fff, 642px 457px #fff,
    1415px 1126px #fff, 41px 581px #fff, 200px 48px #fff, 197px 546px #fff,
    525px 529px #fff, 1616px 1305px #fff, 262px 22px #fff, 192px 1256px #fff,
    191px 1903px #fff, 295px 1845px #fff, 1869px 376px #fff, 1644px 1506px #fff,
    627px 1917px #fff, 926px 297px #fff, 558px 1680px #fff, 1688px 950px #fff,
    1977px 1907px #fff, 358px 1795px #fff, 517px 1359px #fff, 1146px 1821px #fff,
    1224px 1616px #fff, 1144px 318px #fff, 1260px 1083px #fff, 1036px 391px #fff,
    796px 453px #fff, 978px 324px #fff, 285px 487px #fff, 1902px 1224px #fff,
    38px 1798px #fff, 679px 74px #fff, 1308px 1156px #fff, 126px 522px #fff,
    980px 1243px #fff, 234px 152px #fff, 1320px 1245px #fff, 23px 1128px #fff,
    417px 767px #fff, 533px 904px #fff, 898px 209px #fff, 1785px 584px #fff,
    1920px 1428px #fff, 1399px 1020px #fff, 1215px 1069px #fff,
    1213px 1376px #fff, 666px 1259px #fff, 667px 71px #fff, 635px 1989px #fff,
    1292px 298px #fff, 979px 146px #fff, 481px 50px #fff, 1736px 1102px #fff,
    1592px 323px #fff, 1421px 451px #fff, 1842px 1039px #fff, 946px 897px #fff,
    926px 676px #fff, 1746px 1624px #fff, 1834px 126px #fff, 77px 1106px #fff,
    387px 1900px #fff, 1593px 1578px #fff, 1513px 596px #fff, 147px 170px #fff,
    1379px 1249px #fff, 322px 825px #fff, 796px 135px #fff, 718px 803px #fff,
    1200px 1470px #fff, 1734px 307px #fff, 1007px 487px #fff, 22px 765px #fff,
    749px 1808px #fff, 977px 520px #fff, 1193px 1625px #fff, 492px 1604px #fff,
    305px 197px #fff, 1862px 1683px #fff, 1541px 530px #fff, 1275px 1494px #fff,
    1763px 82px #fff, 333px 1563px #fff, 799px 592px #fff, 1794px 248px #fff,
    1025px 1444px #fff, 1642px 46px #fff, 1878px 1910px #fff, 432px 1353px #fff,
    1105px 1795px #fff, 1486px 1717px #fff, 878px 1668px #fff, 408px 9px #fff,
    167px 1892px #fff, 276px 1402px #fff, 1541px 1233px #fff, 556px 691px #fff,
    787px 1731px #fff, 1222px 81px #fff, 584px 1271px #fff, 686px 1653px #fff,
    1964px 21px #fff, 1485px 189px #fff, 977px 1544px #fff, 1728px 541px #fff,
    1247px 739px #fff, 1098px 985px #fff, 1153px 152px #fff, 145px 1275px #fff,
    459px 1812px #fff, 259px 397px #fff, 471px 1501px #fff, 796px 326px #fff,
    511px 1837px #fff, 608px 1972px #fff, 1437px 93px #fff, 538px 1518px #fff,
    1689px 1296px #fff, 1098px 1546px #fff, 7px 1517px #fff, 1942px 1580px #fff,
    217px 684px #fff, 1965px 1140px #fff, 552px 567px #fff, 1277px 1304px #fff,
    1193px 1783px #fff, 39px 136px #fff, 1297px 1673px #fff, 1601px 766px #fff,
    712px 963px #fff, 221px 1251px #fff, 183px 1818px #fff, 291px 897px #fff,
    72px 593px #fff, 1930px 1989px #fff, 611px 986px #fff, 1277px 1307px #fff,
    1125px 788px #fff, 973px 207px #fff, 867px 1127px #fff, 828px 722px #fff,
    1823px 55px #fff, 560px 591px #fff, 456px 761px #fff, 936px 58px #fff,
    1487px 1718px #fff, 1173px 1301px #fff, 1959px 580px #fff, 858px 424px #fff,
    600px 1662px #fff, 1668px 1203px #fff, 1882px 1176px #fff, 298px 379px #fff,
    1995px 1095px #fff, 821px 1728px #fff, 247px 208px #fff;
}

#stars2 {
  z-index: -100;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1579px 192px #fff, 415px 85px #fff, 524px 803px #fff,
    133px 1912px #fff, 1301px 608px #fff, 958px 657px #fff, 1203px 1887px #fff,
    50px 1335px #fff, 305px 1632px #fff, 268px 509px #fff, 1905px 1828px #fff,
    885px 268px #fff, 386px 1087px #fff, 120px 954px #fff, 1461px 742px #fff,
    1566px 1850px #fff, 469px 606px #fff, 510px 207px #fff, 1496px 1572px #fff,
    615px 1368px #fff, 733px 1205px #fff, 328px 1688px #fff, 1238px 694px #fff,
    637px 1342px #fff, 1510px 653px #fff, 1373px 75px #fff, 1436px 724px #fff,
    1514px 706px #fff, 308px 729px #fff, 1432px 1923px #fff, 1094px 673px #fff,
    643px 1530px #fff, 1152px 380px #fff, 602px 1953px #fff, 728px 1550px #fff,
    1273px 1032px #fff, 1870px 706px #fff, 1586px 1211px #fff,
    1002px 1572px #fff, 646px 1386px #fff, 1656px 20px #fff, 682px 659px #fff,
    1590px 1697px #fff, 924px 1697px #fff, 1322px 96px #fff, 742px 1319px #fff,
    1446px 1238px #fff, 1428px 258px #fff, 1371px 902px #fff, 936px 424px #fff,
    262px 57px #fff, 634px 1895px #fff, 1594px 1688px #fff, 1246px 655px #fff,
    766px 9px #fff, 68px 1273px #fff, 1743px 1594px #fff, 106px 254px #fff,
    146px 1654px #fff, 1200px 161px #fff, 1089px 104px #fff, 287px 1426px #fff,
    184px 359px #fff, 522px 933px #fff, 18px 623px #fff, 126px 1062px #fff,
    450px 1347px #fff, 622px 1285px #fff, 704px 1274px #fff, 273px 470px #fff,
    1647px 1005px #fff, 1709px 736px #fff, 526px 1632px #fff, 1835px 259px #fff,
    31px 1276px #fff, 1494px 751px #fff, 1458px 411px #fff, 1677px 236px #fff,
    945px 1800px #fff, 1014px 720px #fff, 1188px 472px #fff, 834px 1158px #fff,
    714px 1285px #fff, 519px 1766px #fff, 559px 1411px #fff, 1531px 1302px #fff,
    620px 1327px #fff, 1308px 692px #fff, 1534px 1900px #fff, 708px 1988px #fff,
    239px 114px #fff, 259px 1867px #fff, 827px 663px #fff, 1052px 855px #fff,
    1374px 1752px #fff, 1319px 1614px #fff, 223px 365px #fff, 1269px 1207px #fff,
    346px 1439px #fff, 631px 1686px #fff, 1460px 721px #fff, 1232px 1013px #fff,
    409px 1759px #fff, 1974px 97px #fff, 209px 1999px #fff, 1730px 301px #fff,
    1340px 660px #fff, 323px 533px #fff, 1561px 1398px #fff, 753px 30px #fff,
    598px 141px #fff, 1143px 1925px #fff, 985px 1027px #fff, 1250px 418px #fff,
    86px 1258px #fff, 1115px 1219px #fff, 1115px 58px #fff, 860px 816px #fff,
    127px 1517px #fff, 861px 658px #fff, 372px 405px #fff, 1146px 650px #fff,
    1424px 1772px #fff, 833px 1222px #fff, 1013px 600px #fff, 939px 87px #fff,
    1963px 1232px #fff, 282px 1208px #fff, 480px 28px #fff, 325px 1563px #fff,
    1859px 952px #fff, 1204px 531px #fff, 1938px 66px #fff, 1800px 305px #fff,
    1015px 1988px #fff, 1366px 1650px #fff, 1344px 960px #fff, 1314px 207px #fff,
    557px 1186px #fff, 1629px 1474px #fff, 1370px 1396px #fff, 130px 485px #fff,
    182px 889px #fff, 22px 985px #fff, 1510px 1961px #fff, 1671px 1559px #fff,
    2000px 744px #fff, 1080px 287px #fff, 899px 347px #fff, 1202px 689px #fff,
    498px 1629px #fff, 696px 129px #fff, 1111px 760px #fff, 1046px 1356px #fff,
    1278px 1602px #fff, 549px 13px #fff, 1308px 1926px #fff, 1861px 539px #fff,
    1559px 608px #fff, 1657px 1924px #fff, 143px 1207px #fff, 591px 183px #fff,
    854px 1022px #fff, 646px 964px #fff, 1806px 1564px #fff, 1638px 900px #fff,
    422px 1687px #fff, 1031px 947px #fff, 1394px 1115px #fff, 746px 464px #fff,
    1798px 1720px #fff, 69px 1406px #fff, 674px 1328px #fff, 1891px 464px #fff,
    708px 798px #fff, 1476px 1506px #fff, 730px 1877px #fff, 1318px 1433px #fff,
    1080px 343px #fff, 1058px 1934px #fff, 1550px 470px #fff, 1290px 1602px #fff,
    623px 1815px #fff, 1772px 524px #fff, 28px 755px #fff, 760px 5px #fff,
    1714px 421px #fff, 30px 1059px #fff, 629px 1664px #fff, 40px 970px #fff,
    1888px 1437px #fff, 516px 1987px #fff, 1191px 1275px #fff, 1814px 892px #fff,
    1560px 1951px #fff, 989px 964px #fff, 1739px 527px #fff, 401px 572px #fff,
    1172px 138px #fff, 55px 1367px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  z-index: -100;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1579px 192px #fff, 415px 85px #fff, 524px 803px #fff,
    133px 1912px #fff, 1301px 608px #fff, 958px 657px #fff, 1203px 1887px #fff,
    50px 1335px #fff, 305px 1632px #fff, 268px 509px #fff, 1905px 1828px #fff,
    885px 268px #fff, 386px 1087px #fff, 120px 954px #fff, 1461px 742px #fff,
    1566px 1850px #fff, 469px 606px #fff, 510px 207px #fff, 1496px 1572px #fff,
    615px 1368px #fff, 733px 1205px #fff, 328px 1688px #fff, 1238px 694px #fff,
    637px 1342px #fff, 1510px 653px #fff, 1373px 75px #fff, 1436px 724px #fff,
    1514px 706px #fff, 308px 729px #fff, 1432px 1923px #fff, 1094px 673px #fff,
    643px 1530px #fff, 1152px 380px #fff, 602px 1953px #fff, 728px 1550px #fff,
    1273px 1032px #fff, 1870px 706px #fff, 1586px 1211px #fff,
    1002px 1572px #fff, 646px 1386px #fff, 1656px 20px #fff, 682px 659px #fff,
    1590px 1697px #fff, 924px 1697px #fff, 1322px 96px #fff, 742px 1319px #fff,
    1446px 1238px #fff, 1428px 258px #fff, 1371px 902px #fff, 936px 424px #fff,
    262px 57px #fff, 634px 1895px #fff, 1594px 1688px #fff, 1246px 655px #fff,
    766px 9px #fff, 68px 1273px #fff, 1743px 1594px #fff, 106px 254px #fff,
    146px 1654px #fff, 1200px 161px #fff, 1089px 104px #fff, 287px 1426px #fff,
    184px 359px #fff, 522px 933px #fff, 18px 623px #fff, 126px 1062px #fff,
    450px 1347px #fff, 622px 1285px #fff, 704px 1274px #fff, 273px 470px #fff,
    1647px 1005px #fff, 1709px 736px #fff, 526px 1632px #fff, 1835px 259px #fff,
    31px 1276px #fff, 1494px 751px #fff, 1458px 411px #fff, 1677px 236px #fff,
    945px 1800px #fff, 1014px 720px #fff, 1188px 472px #fff, 834px 1158px #fff,
    714px 1285px #fff, 519px 1766px #fff, 559px 1411px #fff, 1531px 1302px #fff,
    620px 1327px #fff, 1308px 692px #fff, 1534px 1900px #fff, 708px 1988px #fff,
    239px 114px #fff, 259px 1867px #fff, 827px 663px #fff, 1052px 855px #fff,
    1374px 1752px #fff, 1319px 1614px #fff, 223px 365px #fff, 1269px 1207px #fff,
    346px 1439px #fff, 631px 1686px #fff, 1460px 721px #fff, 1232px 1013px #fff,
    409px 1759px #fff, 1974px 97px #fff, 209px 1999px #fff, 1730px 301px #fff,
    1340px 660px #fff, 323px 533px #fff, 1561px 1398px #fff, 753px 30px #fff,
    598px 141px #fff, 1143px 1925px #fff, 985px 1027px #fff, 1250px 418px #fff,
    86px 1258px #fff, 1115px 1219px #fff, 1115px 58px #fff, 860px 816px #fff,
    127px 1517px #fff, 861px 658px #fff, 372px 405px #fff, 1146px 650px #fff,
    1424px 1772px #fff, 833px 1222px #fff, 1013px 600px #fff, 939px 87px #fff,
    1963px 1232px #fff, 282px 1208px #fff, 480px 28px #fff, 325px 1563px #fff,
    1859px 952px #fff, 1204px 531px #fff, 1938px 66px #fff, 1800px 305px #fff,
    1015px 1988px #fff, 1366px 1650px #fff, 1344px 960px #fff, 1314px 207px #fff,
    557px 1186px #fff, 1629px 1474px #fff, 1370px 1396px #fff, 130px 485px #fff,
    182px 889px #fff, 22px 985px #fff, 1510px 1961px #fff, 1671px 1559px #fff,
    2000px 744px #fff, 1080px 287px #fff, 899px 347px #fff, 1202px 689px #fff,
    498px 1629px #fff, 696px 129px #fff, 1111px 760px #fff, 1046px 1356px #fff,
    1278px 1602px #fff, 549px 13px #fff, 1308px 1926px #fff, 1861px 539px #fff,
    1559px 608px #fff, 1657px 1924px #fff, 143px 1207px #fff, 591px 183px #fff,
    854px 1022px #fff, 646px 964px #fff, 1806px 1564px #fff, 1638px 900px #fff,
    422px 1687px #fff, 1031px 947px #fff, 1394px 1115px #fff, 746px 464px #fff,
    1798px 1720px #fff, 69px 1406px #fff, 674px 1328px #fff, 1891px 464px #fff,
    708px 798px #fff, 1476px 1506px #fff, 730px 1877px #fff, 1318px 1433px #fff,
    1080px 343px #fff, 1058px 1934px #fff, 1550px 470px #fff, 1290px 1602px #fff,
    623px 1815px #fff, 1772px 524px #fff, 28px 755px #fff, 760px 5px #fff,
    1714px 421px #fff, 30px 1059px #fff, 629px 1664px #fff, 40px 970px #fff,
    1888px 1437px #fff, 516px 1987px #fff, 1191px 1275px #fff, 1814px 892px #fff,
    1560px 1951px #fff, 989px 964px #fff, 1739px 527px #fff, 401px 572px #fff,
    1172px 138px #fff, 55px 1367px #fff;
}

#stars3 {
  z-index: -100;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1878px 1753px #fff, 79px 1103px #fff, 905px 1777px #fff,
    1122px 1733px #fff, 1797px 1986px #fff, 688px 60px #fff, 1065px 1557px #fff,
    283px 1374px #fff, 1998px 646px #fff, 3px 1987px #fff, 1674px 1045px #fff,
    1088px 1401px #fff, 855px 1624px #fff, 397px 1839px #fff, 28px 591px #fff,
    1558px 47px #fff, 1603px 1799px #fff, 550px 1248px #fff, 687px 278px #fff,
    1261px 1302px #fff, 10px 353px #fff, 375px 566px #fff, 381px 1447px #fff,
    1907px 765px #fff, 204px 1325px #fff, 975px 1918px #fff, 473px 1454px #fff,
    1176px 20px #fff, 627px 1192px #fff, 292px 544px #fff, 598px 1934px #fff,
    1420px 368px #fff, 604px 1318px #fff, 672px 1494px #fff, 1451px 449px #fff,
    819px 251px #fff, 87px 1018px #fff, 158px 794px #fff, 372px 544px #fff,
    1370px 1652px #fff, 258px 920px #fff, 34px 1151px #fff, 862px 1772px #fff,
    1444px 757px #fff, 1415px 1117px #fff, 836px 1761px #fff, 547px 98px #fff,
    691px 1503px #fff, 858px 1656px #fff, 1756px 195px #fff, 1166px 1656px #fff,
    922px 324px #fff, 484px 94px #fff, 1980px 1320px #fff, 1112px 256px #fff,
    1044px 68px #fff, 1285px 1295px #fff, 1453px 1427px #fff, 1400px 1317px #fff,
    716px 472px #fff, 1223px 1968px #fff, 1074px 7px #fff, 1911px 141px #fff,
    243px 754px #fff, 288px 1443px #fff, 1658px 1087px #fff, 837px 1944px #fff,
    339px 1671px #fff, 1464px 349px #fff, 1170px 1086px #fff, 1319px 1810px #fff,
    1562px 99px #fff, 478px 1390px #fff, 814px 1445px #fff, 394px 1403px #fff,
    1316px 9px #fff, 1710px 1491px #fff, 1941px 1243px #fff, 1584px 522px #fff,
    28px 446px #fff, 1811px 268px #fff, 152px 572px #fff, 931px 293px #fff,
    209px 964px #fff, 652px 675px #fff, 270px 360px #fff, 1632px 779px #fff,
    1404px 1821px #fff, 940px 1884px #fff, 1099px 314px #fff, 1188px 1276px #fff,
    642px 311px #fff, 1629px 1152px #fff, 799px 1639px #fff, 789px 1069px #fff,
    451px 103px #fff, 545px 692px #fff, 1727px 594px #fff, 57px 574px #fff,
    1475px 61px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  z-index: -100;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1878px 1753px #fff, 79px 1103px #fff, 905px 1777px #fff,
    1122px 1733px #fff, 1797px 1986px #fff, 688px 60px #fff, 1065px 1557px #fff,
    283px 1374px #fff, 1998px 646px #fff, 3px 1987px #fff, 1674px 1045px #fff,
    1088px 1401px #fff, 855px 1624px #fff, 397px 1839px #fff, 28px 591px #fff,
    1558px 47px #fff, 1603px 1799px #fff, 550px 1248px #fff, 687px 278px #fff,
    1261px 1302px #fff, 10px 353px #fff, 375px 566px #fff, 381px 1447px #fff,
    1907px 765px #fff, 204px 1325px #fff, 975px 1918px #fff, 473px 1454px #fff,
    1176px 20px #fff, 627px 1192px #fff, 292px 544px #fff, 598px 1934px #fff,
    1420px 368px #fff, 604px 1318px #fff, 672px 1494px #fff, 1451px 449px #fff,
    819px 251px #fff, 87px 1018px #fff, 158px 794px #fff, 372px 544px #fff,
    1370px 1652px #fff, 258px 920px #fff, 34px 1151px #fff, 862px 1772px #fff,
    1444px 757px #fff, 1415px 1117px #fff, 836px 1761px #fff, 547px 98px #fff,
    691px 1503px #fff, 858px 1656px #fff, 1756px 195px #fff, 1166px 1656px #fff,
    922px 324px #fff, 484px 94px #fff, 1980px 1320px #fff, 1112px 256px #fff,
    1044px 68px #fff, 1285px 1295px #fff, 1453px 1427px #fff, 1400px 1317px #fff,
    716px 472px #fff, 1223px 1968px #fff, 1074px 7px #fff, 1911px 141px #fff,
    243px 754px #fff, 288px 1443px #fff, 1658px 1087px #fff, 837px 1944px #fff,
    339px 1671px #fff, 1464px 349px #fff, 1170px 1086px #fff, 1319px 1810px #fff,
    1562px 99px #fff, 478px 1390px #fff, 814px 1445px #fff, 394px 1403px #fff,
    1316px 9px #fff, 1710px 1491px #fff, 1941px 1243px #fff, 1584px 522px #fff,
    28px 446px #fff, 1811px 268px #fff, 152px 572px #fff, 931px 293px #fff,
    209px 964px #fff, 652px 675px #fff, 270px 360px #fff, 1632px 779px #fff,
    1404px 1821px #fff, 940px 1884px #fff, 1099px 314px #fff, 1188px 1276px #fff,
    642px 311px #fff, 1629px 1152px #fff, 799px 1639px #fff, 789px 1069px #fff,
    451px 103px #fff, 545px 692px #fff, 1727px 594px #fff, 57px 574px #fff,
    1475px 61px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
