:root {
  /* background color */
  --bg-dark-navy: rgb(32, 32, 40);
  --bg-white: white;
  --bg-nav: rgba(32, 32, 40, 0.89);
  --bg-light-bg: rgba(0, 0, 0, 0.5);
  --bg-super-light-bg: rgba(0, 0, 0, 0.4);
  --bg-gray: #616161;
  --bg-light-gray: rgba(255, 255, 255, 0.102);
  --bg-orange: #feb546;
  --bg-tomato: #d4583a;
  --bg-green: #00d350;
  --bg-sky: #b9cfe9;
  --bg-pink: #f29c9c;

  /* color */
  --color-white: ivory;
  --color-pure-white: white;
  --color-black: black;
  --color-gray: gray;
  --color-dark-gray: rgb(93, 93, 93);

  /* font-size */
  --font-mini: 14px;
  --font-small: 16px;
  --font-regular: 20px;
  --font-medium: 24px;
  --font-semi-large: 28px;
  --font-large: 32px;
  --font-super-large: 40px;
  /* font-weight */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* width */
  --section-max-width: 1200px;

  /* box-shadow */
  --shadow-outer: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
